{% extends 'main.html' %} {% load static %} {% block content %}

<div style="background-color: darkslateblue; width: 100%; height: 100%">
  {% if request.user.is_superuser %}
            
              <a class="btn btn-success" href="{% url 'add' %}">Add Products</a>
            
  {% endif %}
  {% if products.count == 0 %}
    <h1 style="color: white;margin-top:5rem;margin-left:2rem;">
      No items match your search. Try a different search or check the spelling
    </h1>
    {% endif %}
  <div
    class="container"
    style="
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      height: 100%;
    "
  >
     {% for product in products %}
    <div class="card" style="width: 18rem; margin: 2rem">
      {% if request.user.is_superuser %}
      <a href="{% url 'edit_image' product.id %}"><img
        src="{{product.image.url}}"
        style="height: 90%"
        class="card-img-top"
        alt=""
      /></a>
      {% else %}
      <a href="{% url 'info' product.id %}"><img
        src="{{product.image.url}}"
        style="height: 90%"
        class="card-img-top"
        alt=""
      /></a>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">GHC{{product.price}}0</h5>
        <p class="card-text">{{product.name}}</p>
        {% if request.user.is_authenticated %} {% if request.user.is_superuser%}
        <a href="{% url 'edit' product.id %}" class="btn btn-primary"
          >Edit</a
        >
        <a href="{% url 'delete' product.id %}" class="btn btn-success">Delete</a>
        {% else %}
        <a href="{% url 'add-to-cart' product.id %}" class="btn btn-primary"
          >Add to Cart</a
        >
        <a href="{% url 'buy_single' product.id %}" class="btn btn-success">Buy</a>
        {% endif %} {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Add to Cart</a>
        <a href="{% url 'login' %}" class="btn btn-success">Buy</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}
