{% extends 'main.html' %}

{% block content %}

<div class="container" style="margin: auto;margin-top: 100px;background:rgb(204, 204, 204);width: 35%;height: fit-content;">
 <form action="" method="POST">
{% csrf_token%}
<!--<div style="padding: 20px;">
<label for="username">Username: </label>
<input type="text" name="username" id="username" placeholder="Enter username...">
</div>
<div style="padding: 20px;">
<label for="username">Password: </label>
<input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" >
</div>
<div style="padding: 20px;width: fit-content;">
    <input type="submit" value="Submit">
</div>-->

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="formGroupExampleInput" placeholder="Enter username...">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="formGroupExampleInput2" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
  </div>
  <input type="submit" value="Login" class="btn btn-success" style="margin: 15px 0;">
</div>
</form> 

{% endblock content %}