{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style_files/bootstrap.css' %}" />
    <title>Document</title>

    
  </head>
  <body style="background-color:darkslateblue;">
   
    
    <nav class="navbar navbar-expand-sm bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Waala Phones Ltd.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if page != 'edit' %}
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              {% if page == 'home' %}
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
              {% endif %}
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logoutUser' %}">Logout</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a style="color: white;" class="nav-link disabled">Hi, {{request.user}}{{a}}</a>
            </li>
            {% endif %}
          </ul>
          
          {% if page == 'home' %}
          <form method="GET" action="{% url 'home' %}" class="d-flex" role="search" style="margin-left: 450px;">
            <input name="q"  class="form-control me-2" type="search" placeholder="Search by brand,name,..." aria-label="Search">
            <button class="btn btn-outline-success" style="margin-left: 5px;" type="submit">Search</button>
          </form>
          {% endif %}
          <li class="nav-item">
            {% if request.user.is_authenticated  and not request.user.is_superuser and page != 'cart' and page != 'buy' %}
            <a href="{% url 'cart' %}" type="button" class="btn btn-primary position-relative">
              Cart <span><img src="{% static 'images/cart.png' %}" width="20px;height:10px;" alt=""></span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{pn}}
              </span>
            </a>
            {% endif %}
            {% endif %}
            
          </li>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
