{% extends 'main.html' %} 

{% block content %}

{% load crispy_forms_tags  %}
<div class="container" style="width: fit-content;height:fit-content;background-color:rgb(214, 214, 214);margin-top: 50px;">
  <form action="" method="POST">
    {% csrf_token %}
    <div >{{form | crispy}}</div>
  <p style="margin-bottom: 1rem ;">Already have an account? <a  href="{% url 'login' %}">Sign In</a></p>
<input type="submit" class="btn btn-success" value="Register" style="margin-bottom: 10px;">
  </form>
</div>

{% endblock content %}
